@use "colors" as c;

@mixin subtitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 55px;
    line-height:70px;
    letter-spacing:10px;
}

@mixin btn {
        cursor: pointer;
        background-color: c.$bg-primary;
        color: c.$color-black;
        padding: 1.5rem 2.5rem;
        font-size: 1.5rem;
        border: 1px dashed black;
        border-radius: 10px;
}
@mixin heading-bg($x-offset, $width, $height) {
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        left: $x-offset;
        z-index: -1;
        width: $width;
        height: $height;
        background-color: c.$bg-primary;
        
    }
}
@mixin shadow {
    width: 2.5rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    box-shadow: -0.2rem 0 0 0.1rem c.$bg-primary;
}



